.grid-portfolio {
    /* grid portfolio*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px;
    grid-gap: 5px;
    margin: 10px 130px 10px 130px;

}

img {
    /* attributs images*/
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.box1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.box2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.box3 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.box4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 6;
}

.box5 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 6;
}

.box6 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 8;
}

.box7 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 8;
}

.box8 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 8;
    grid-row-end: 9;
}

.box9 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 9;
    grid-row-end: 11;
}

.box10 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 9;
    grid-row-end: 11;
}

.box11 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 11;
    grid-row-end: 13;
}

.box12 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 11;
    grid-row-end: 13;
}

@media screen  and (max-width: 619px) { /* petit smartphone*/
    .grid-portfolio{
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr;
        grid-template-rows: 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px;
        margin: 3px;
        
    }
   
}

@media screen and (min-width:620px) and (max-width: 768px) { /* smartphone*/
   
    .grid-portfolio{
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr;
        grid-template-rows: 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px;
        margin: 3px;
        
    }
}
@media screen and (min-width: 769px) and (max-width: 992px) { /* tablette*/
    .grid-portfolio{
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr;
        grid-template-rows: 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px;
        margin: 3px;
        
    }
}
@media screen and (min-width:993px) and (max-width: 1200px) { /* laptop*/
    .grid-portfolio{
        margin: 0px 40px;
    }
}
@media screen and (min-width:1200px) and (max-width: 1850px) { /* laptop*/
    .grid-portfolio{
        margin: 0px 110px;
    }
}